@use '../../../../styles/variables' as *;

// Оформление списков теоретического раздела
.theory-section {
  ul {
    margin-left: 1.5rem;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

    li {
      list-style-type: disc;
      font-size: 0.975rem;
      line-height: 1.6;
      color: $color-gray-700;

      &::marker {
        color: $color-primary; // Красивые маркеры цвета бренда
      }

      strong {
        color: $color-gray-900;
        font-weight: 700;
      }
    }
  }
}